*{
    margin: 0;
    padding: 0;
}
body, html{
    height: 100%;
    width: 100%;
    color: tomato;
    margin: 0px auto;
}
h2{text-align: center;}
p{padding: 1rem;}
.head{
    background-image: url("vtens.jpg");
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0px;
}
.img1{
    background-image: url("veleven.png");
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0px;   
}
.img2{
    background-image: url("veleven.png");
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0px;   
}
#about, #signs, #prevention{
    background-color: whitesmoke ;
    width: 100%;
    font-size: 14pt;

}

@media screen and (max-width:600px){
    body{text-align: center;}
    .img2{
        background-image: url("vtwelve.jpg");
        height: 600px;
        width: 100%;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 0px;   
    }

}
